<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="LibratoSettings" type="librato4net.LibratoSettings, librato4net"/>
  </configSections>
  <LibratoSettings apikey="YOUR_API_KEY" username="YOUR_USERNAME" />
  <appSettings>
    <add key="Librato.Username" value="YOUR_APPSETTINGS_USERNAME" />
    <add key="Librato.ApiKey" value="YOUR_APPSETTINGS_API_KEY" />
  </appSettings>
</configuration>